@media screen and (min-width: 480px) {
    .homePage {
        position: absolute;
        top: 40%;
        left: 40%;
    }
}

@media screen and (max-width: 479px) {
    .homePage {
        position: absolute;
        top: 24%;
        left: 10%;
    }
}