.updateApp {
    position: relative;
    top: 40%;
}

.userLabel {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 20px;
    display: inline-block;
}

.appLabel {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 20px;
    display: inline-block;
}

@media screen and (min-width: 480px) {
    .updateAppPage {
        position: absolute;
        top: 40%;
        left: 40%;
    }
}

@media screen and (max-width: 479px) {
    .updateAppPage {
        position: relative;
        top: 55%;
        left: 0;
        margin-bottom: 5rem;
    }
}